@use "../../../../shared/styles/variables" as *;

.root {
  border-radius: 15px;
  background-color: $color-white;
  display: grid;
  place-items: flex-start;
  row-gap: 25px;
  padding: 20px;
  width: 100%;
  height: 100%;
  right: 20px;
  .info {
    width: 100%;
    display: grid;
    place-items: flex-start;
    row-gap: 15px;
    .row_item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        p {
          font-size: 14px;
          color: $color-grey;
          font-weight: 600;
        }
      }
      span {
        font-size: 13px;
        color: $color-grey;
        font-weight: 600;
      }
    }
    p {
      font-size: 13px;
      color: $color-text-grey;
    }
  }
  button {
    width: 100%;
    font-weight: 600;
    margin-top: 15px;
  }
}
